body{
    margin:2%;
    background-color: #c0c0c0;
    font-size:150%;
}
header{
    margin:0 auto;
    background-color: rgb(44, 146, 209);
    text-align:center;
    background-image: -webkit-linear-gradient(top,rgb(44,146,209),#c0c0c0);
}
h1{
    color: #ffffff;
}
nav{
    display:inline-block;
    font-variant: small-caps;
    font-size: 150%;
    padding: 0 0 2%;
}
a:link{
    color:#ffffff;
    text-decoration:none;
}
a:visited{
    color:#ffffff;
}
a:hover,a:focus{
    background-color: #ffffff;
    color: rgb(44,146,209);
    font-size:110%;
    position:relative;
}
a:focus{
    border-style:none;
}
h2{
    background-color: rgb(44,146,209);
    color: #c0c0c0;
    font-size:150%;
}
.half{
    display:inline-block;
    margin-right:2%;
    float:left;
    width:48%;
    padding-bottom:2%;
}
.moreaboutme{
    display:inline-block;
    margin-right:2%;
    float:left;
    width:100%;
    padding-bottom:2%;
}
footer{
    height:100px;
    background-color:rgb(44,146,209);
    clear:both;
    background-image: -webkit-linear-gradient(top,rgb(44,146,209),#c0c0c0);
}
details{
    font-style:italic;
}
summary{
    font-style:normal;
}
img{
    width:75px;
}
